<h1>All the Tools in the world!</h1>
<% flash.each do |type, msg| %>
  <%= content_tag :div, msg, class: "flash_#{type}" %>
<% end %>

<% @tools.each do |tool| %>
  <li>
    <%= link_to tool.name, user_tool_path(tool) %> (<%= tool.use %>)
  </li>
  <%= link_to "Edit that thing", edit_user_tool_path(tool) %>
  <%= link_to "Delete the bugger", user_tool_path(tool), method: :delete %>
<% end %>

<p>
  Go back and make a Use model with a many to many relationship with Tools
</p>


<%= link_to "Create a new tool", new_user_tool_path %>
